/* josefin-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/josefin-sans-v33-latin-300.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/josefin-sans-v33-latin-300.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* josefin-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/josefin-sans-v33-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/josefin-sans-v33-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* josefin-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/josefin-sans-v33-latin-600.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/josefin-sans-v33-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
    --clr-red-300-hsl: 0, 93%, 68%;
    --clr-red-200: hsl(0, 36%, 70%);
    --clr-red-400: hsl(0, 93%, 68%);
    --clr-red-600: hsl(0, 93%, 48%);
    --clr-red-900: hsl(0, 6%, 24%);

    --bg-gradient-red: linear-gradient(to right, #f6b4b6, #ef9493);

    --font-sans: "Josefin Sans", sans-serif;
    --font-thin: 300;
    --font-normal: 400;
    --font-semibold: 600;

    --text-base: 0.875rem; /* 14 - 16 */
    --text-heading-1: 2.5rem;

    --leading-none: 1;
    --leading-heading-1: 2.625rem;
    --leading-paragraph: 1.375rem;

    --tracking-paragraph: 0.004em;
    --tracking-heading-1: 0.27em;

    --rounded-full: 9999px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: var(--leading-none);
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 238, 1) 100%);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.main__container {
    font-family: var(--font-sans);
    font-size: var(--text-base);
    color: var(--clr-red-200);
    text-align: center;
    margin: 0 auto;
    max-width: 90rem;
    min-height: 100vh;
}
.main__logo--mobile {
    height: 1.3125rem;
}
.main__logo--mobile-wrapper {
    padding: 1.9375rem 2rem 2rem 2rem;
}
.main__logo--desktop {
    display: none;
}
.main__content {
    position: relative;
    padding: 4rem 2rem 5.75rem 2rem;
}
.main__content--bg-pattern {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.main__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__headline {
    text-transform: uppercase;
    font-size: var(--text-heading-1);
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-heading-1);
    max-width: 10ch;
    margin: 0 auto 0.9375rem auto;
}
.main__headline--thin {
    line-height: var(--leading-heading-1);
    font-weight: var(--font-thin);
}
.main__headline--bold {
    line-height: var(--leading-heading-1);
    color: var(--clr-red-900);
}
.main__description {
    line-height: var(--leading-paragraph);
    letter-spacing: var(--tracking-paragraph);
    max-width: 45ch;
    margin: 0 auto 2.0625rem auto;
}
.subscribe__form {
    --submit-button-width: clamp(4rem, 1.8531rem + 9.1603vw, 6.25rem);
    --input-padding-x: clamp(1.4375rem, 0.9604rem + 2.0356vw, 1.9375rem);

    position: relative;
    border-radius: var(--rounded-full);
}
.subscribe__input {
    width: 100%;
    border: none;
    background-color: transparent;
    border: 1px solid var(--clr-red-200);
    border-radius: inherit;
    height: clamp(3rem, 2.5229rem + 2.0356vw, 3.5rem);
    padding-inline: var(--input-padding-x);
    padding-block-start: clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
    padding-block-end: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
    font-size: clamp(0.875rem, 0.7557rem + 0.5089vw, 1rem);
}
.subscribe__input::placeholder {
    color: var(--clr-red-200);
}
.subscribe__overlay {
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    border: 2px solid transparent;
    padding-right: calc(var(--submit-button-width) + 1rem);
}
.subscribe__hint {
    position: absolute;
    left: calc(var(--input-padding-x) + 1px);
    top: calc(100% + 1rem);
    letter-spacing: -0.03em;
    font-size: clamp(0.75rem, 0.6307rem + 0.5089vw, 0.875rem);
    color: var(--clr-red-600);
}
.subscribe__submit-btn {
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    width: var(--submit-button-width);
    border-radius: var(--rounded-full);
    background: var(--bg-gradient-red);
    box-shadow: hsla(var(--clr-red-300-hsl), 0.5) 0 16px 32px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease;
}
.subscribe__submit-btn--icon {
    height: 1.25rem;
}
.subscribe__submit-btn::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: hsla(var(--clr-red-300-hsl), 0.8) 0 16px 32px 0px;
    inset: 0;
    opacity: 0;
    transition: opacity 200ms ease;
    background-color: white;
}
.subscribe__input[aria-invalid="true"] + .subscribe__overlay {
    border-color: var(--clr-red-600);
}
.subscribe__input[aria-invalid="true"] + .subscribe__overlay:after {
    content: url("./assets/icons/icon-error.svg");
    height: 1.5rem;
}
.subscribe__input:focus + .subscribe__overlay {
    border-color: var(--clr-red-400);
}

@supports selector(:focus-visible) {
    .subscribe__submit-btn:focus-visible {
        transform: scale(1.05);
        outline: 3px solid var(--clr-red-400);
        outline-offset: 3px;
    }
    .subscribe__input:focus {
        outline: 0;
    }
    .subscribe__input:focus-visible {
        outline: 3px dashed var(--clr-red-400);
        outline-offset: 3px;
    }
}

@media (hover: hover) {
    .subscribe__submit-btn:hover {
        transform: scale(1.05);
    }
    .subscribe__submit-btn:hover::before {
        opacity: 0.25;
    }
}

.subscribe__submit-btn:active {
    transform: scale(1);
}

@media screen and (min-width: 40em) {
    :root {
        --text-base: 1rem;
        --text-heading-1: 4rem;

        --leading-paragraph: 1.75rem;
        --leading-heading-1: 4.4375rem;
    }
    .main__headline--thin {
        line-height: var(--leading-none);
    }
}

@media screen and (min-width: 64em) {
    .main__logo--mobile-wrapper {
        display: none;
    }
    .main__logo--desktop {
        display: block;
        margin-bottom: 4.5rem;
    }
    .main__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .main__image-wrapper {
        width: 100%;
        max-width: 610px;
        max-height: 64rem;
    }
    .main__content {
        text-align: start;
        width: 100%;
        padding-top: 4rem;
        padding-left: clamp(2.5rem, 30vw - 16rem, 10.3125rem);
        padding-bottom: 10.125rem;
    }
    .main__headline {
        margin: 0 0 1.1875rem 0;
    }
    .main__description {
        margin: 0 0 2.5rem 0;
    }
    .subscribe__form {
        max-width: 27.8125rem;
    }
}

@media screen and (min-width: 78em) {
    .main__logo--desktop {
        margin-bottom: 8.5rem;
    }
}
